/**
 * The stylesheet for questions
 *
 * @author  David Bernstein
 * @version 1.0
 */

/*
LI.choice {
    margin-top: 0em;
}

OL.choice {
    margin-top: 0em;
}
*/




li.choice {
    margin-top: 0em;
}

ol.choice {
    margin-top: 0em;
}

